body {
    background-color: rgb(218, 201, 195);
}

main{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 10% 10%;
    div{
      
        width: 300px;
        height: 400px;
        
        border-radius: 10px;
        padding: 30px 0px;
        margin: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        h2,h3{
            text-align: center;
        }
        p{
            background-color: white;
            padding: 5px;


        }


    }
}